<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileLogger"
        xsi:type="File"
        fileName="logs/${shortdate}.log"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,data}}"
        archiveFileName="logs/archives/{#}.log"
        archiveEvery="Day"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd-HH-mm"
        maxArchiveFiles="60"
        concurrentWrites="true"
        keepFileOpen="false"
        />
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
    layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}${exception:format=tostring,data}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    <logger name="*" minlevel="Info" writeTo="fileLogger" />
  </rules>
</nlog>